# Node.js
node_modules/

# Archivos generados durante la ejecución
*.log

*.sqlite

# Entorno de desarrollo
.env
.DS_Store
.vscode/

# Archivos de configuración específicos del usuario
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files
package-lock.json
yarn.lock
